package views

import (
	"github.com/confy/godo/internal/models"

	"github.com/confy/godo/views/components"
)


templ TodoPage(user models.DisplayUser, todos []models.DisplayTodo) {
	<html>
		@components.Header("Welcome")
		<body>
			<header class="container">
				@components.Navbar(user)
			</header>
			<main class="container">
				<h1>Hello, {string(user.Login)}</h1>
				<h1>{string(user.Email)}</h1>
				<br></br>
				@components.TodoList(todos)
			</main>
		</body>
	</html>
}
